<div class="container">
  <div class="row">
    <h1 class="font-weight-bold">新規登録</h1>
      <div class="container form-contents">
        <%= form_with model: @user, url:user_registration_path, id:"new_user", class:"new_user", local: true do |f| %>
          <%= error_messages %>
          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :email,"メールアドレス", class:"form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", required: true %>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :password,"パスワード(6文字以上)", class:"form-label" %>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", required: true %>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :password_confirmation,"パスワード(確認用)", class:"form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", required: true %>
            </div>
          </div>

          <div class="actions text-center">
            <%= f.submit "新規登録", class:"btn btn-secondary w-75 m-1" %>
          </div>
        <% end %>

        <div class="actions text-center">
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-outline-secondary w-75 m-1">ログインはこちら</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
