<div class="container">
<h1>プロフィール設定</h1>

<div class="row">
  <table class="table">
    <tbody>
        <% @families.each do |family| %>
            <tr>
                <td>
                  <%= attachment_image_tag(family, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
                </td>
                <td><%= family.name %></td>
                <td><%= family.birthday %></td>
                <td>
                    <div class="row">
                        <div class="actions">
                            <%= link_to "編集",edit_family_path(family),class:"form-button" %>
                        </div>
                        <div class="actions">
                            <%= link_to "削除",family_path(family),method: :delete,class:"form-button-alert","data-confirm" => "本当に削除しますか？" %>
                        </div>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "新規追加" ,new_family_path %>
</div>

</div>