<div class="container">
  <div class="main-content">
    <% if !current_user.deposit.nil? %>
      <h5>口座残高</h5>
      <h3 class="main-price text-right">
        <%= @balances_total.to_s(:delimited) %>円
      </h3>
    <% else %>
      <div class="actions text-center">
        <%= link_to new_deposits_path do %>
          <button type="button" class="btn btn-outline-secondary w-75 m-1">預金を登録してください。</button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="main-content">
    <% if !current_user.deposit.nil? %>
      <h5>今月の収支</h5>
      <div class="row text-right">
        <div class="col-4">
          <h6><%= @today.month %>月収入</h6>
        </div>
        <div class="col-8">
          <h5><%= @incomes_month_total.to_s(:delimited) %>円</h5>
        </div>
      </div>
      <div class="row text-right">
        <div class="col-4">
          <h6><%= @today.month %>月支出</h6>
        </div>
        <div class="col-8">
          <h5><%= @pays_month_total.to_s(:delimited) %>円</h5>
        </div>
      </div>

      <div class="row border-top text-right">
        <div class="col-4">
          <h6 class="font-weight-bold"><%= @today.month %>月収支</p>
        </div>
        <div class="col-8">
          <% if @balances_month_total < 0 %>
            <h5 class="text-danger font-weight-bold"><i class="fas fa-fire-alt"></i> <%= @balances_month_total.to_s(:delimited) %>円</h5>
          <% else %>
            <h5 class="font-weight-bold"><%= @balances_month_total.to_s(:delimited) %>円</h5>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="actions text-center">
        <%= link_to new_deposits_path do %>
          <button type="button" class="btn btn-outline-secondary w-75 m-1">預金を登録してください。</button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="main-content">
    <%= month_calendar events: @balances do |date, balance| %>
      <%= date.day %>
      <% balance.each do |balance| %>
        <% if !balance[:category_id].nil? %>
          <div>
            <%= link_to edit_pay_path(balance) do %>
              -<%=balance.price.to_s(:delimited) %>円
            <% end %>
          </div>
        <% else %>
          <div>
            <%= link_to edit_income_path(balance) do %>
              <%= balance.price.to_s(:delimited) %>円
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="main-content">
    <table class="table text-center">
      <tr>
        <th>日付</th>
        <th>カテゴリー</th>
        <th>財布</th>
        <th>金額</th>
        <th>
          <%= link_to "精算", reimbursements_path %>
        </th>
        <th>メモ</th>
        <th></th>
      </tr>
      <tbody>
        <% @balances_month.each do |balance| %>
          <% if !balance[:category_id].nil? %>
            <tr>
              <td><%= balance.date %></td>
              <td><%= balance.category.name %></td>
              <td>
                <%= attachment_image_tag(balance.family, :image, size: "50x50", fallback: "no-image-icon.jpg") %>
              </td>
              <td>-<%= balance.price.to_s(:delimited) %>円</td>
              <td>
                <% if balance.is_active == true %>
                  <i class="fas fa-check-square"></i>
                <% elsif balance.is_active == false && balance.family_id == 1 %>
                  <i class="far fa-minus-square"></i>
                <% else %>
                  <%= link_to reimbursements_path do %>
                    <i class="far fa-square"></i>
                  <% end %>
                <% end %>
              </td>
              <td><%= balance.memo %></td>
              <td>
                <%= link_to edit_pay_path(balance) do %>
                  <button type="button" class="btn btn-outline-secondary m-1">編集</button>
                <% end %>
                <%= link_to pay_path(balance),method: :delete,"data-confirm" => "本当に削除しますか？" do %>
                  <button type="button" class="btn btn-outline-secondary m-1">削除</button>
                <% end %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td><%= balance.date %></td>
              <td>収入</td>
              <td>
                <%= attachment_image_tag(balance.family, :image, size: "50x50", fallback: "no-image-icon.jpg") %>
              </td>
              <td><%= balance.price.to_s(:delimited) %>円</td>
              <td><i class="far fa-minus-square"></i></td>
              <td><%= balance.memo %></td>
              <td>
                <%= link_to edit_income_path(balance) do %>
                  <button type="button" class="btn btn-outline-secondary m-1">編集</button>
                <% end %>

                <%= link_to income_path(balance),method: :delete,"data-confirm" => "本当に削除しますか？" do %>
                  <button type="button" class="btn btn-outline-secondary m-1">削除</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>