<div class="container">
  <div class="row">
    <div class="mainContents col-sm-12 col-sm-push-4 col-md-12 col-md-push-4">
      <h1 class="subtitle">支出 <%= link_to "収入", new_income_path %></h1>

      <div class="container form-contents">
        <%= form_with(model: @pay, url: pays_path, method: :post, local: true) do |f| %>
          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.text_field :price, autofocus: true, autocomplete: "price", class:"form-control", required: true %>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.date_select:date,{} , required: true%>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <!--親カテゴリーのセレクトボックス-->
              <%= f.collection_select :category_id, @category_parent_array,:id, :name,{ include_blank: "選択してください"},{class:"form-control"}%>
              <i class=fas.fa-chevron-down.listing-select-wrapper__box--arrow-down></i>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.collection_select :family_id, @families, :id ,:name,{}, {class:"form-control"} %>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.text_field :memo, autofocus: true, autocomplete: "memo", class:"form-control" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "登録", class:"form-button" %>
          </div>
        <% end %>
      </div>
       <div class="actions">
            <%= link_to "キャンセル",pays_path,class:"form-button" %>
        </div>
    </div>
  </div>
</div>
