
<div class="container">
  <div class="row">
    <div class="mainContents col-sm-12 col-sm-push-4 col-md-12 col-md-push-4">
      <h1 class="subtitle">ログイン</h1>

      <div class="container form-contents">
        <%= form_with model: @user, url:user_session_path, id:"new_user", class:"new_user", local: true do |f| %>
         <%= render 'devise/shared/flash_message' %>
            <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :email,"メールアドレス", class:"form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", required: true %>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :password,"パスワード", class:"form-label" %>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", required: true %>
            </div>
          </div>

          <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :password_confirmation,"パスワード(確認用)", class:"form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", required: true %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class:"form-button" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

