<div class="container">
  <div class="main-content">
    <h5>立替精算</h5>
    <div class="row d-flex align-items-end justify-content-center">
      <div class="px-2">
        <%= attachment_image_tag(@husband, :image, size: "50x50") %>
      </div>
      <h6 class="d-flex align-items-end">共通財布から</h6>
      <h3 class="px-3"><%= @pays_husband.to_s(:delimited) %>円</h3>
      <h6 class="d-flex align-items-end">もらう</h6>
      <div class="d-flex align-items-end pl-5">
        <%= link_to update_husband_reimbursements_path, method: :patch do %>
          <button type="button" class="btn btn-outline-secondary m-1">精算</button>
        <% end %>
      </div>
    </div>

    <div class="row d-flex align-items-end justify-content-center">
      <div class="px-2">
        <%= attachment_image_tag(@wife, :image, size: "50x50") %>
      </div>
      <h6 class="d-flex align-items-end">共通財布から</h6>
      <h3 class="px-3"><%= @pays_wife.to_s(:delimited) %>円</h3>
      <h6 class="d-flex align-items-end">もらう</h6>
      <div class="d-flex align-items-end pl-5">
        <%= link_to update_wife_reimbursements_path, method: :patch do %>
          <button type="button" class="btn btn-outline-secondary m-1">精算</button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="row">
      <h5 class="d-flex align-items-end justify-content-center pl-3">
        <%= attachment_image_tag(@husband, :image, size: "50x50") %>の未精算一覧
      </h5>
      <table class="table">
        <tr>
          <th>日にち</th>
          <th>カテゴリー</th>
          <th>財布</th>
          <th>金額</th>
          <th>メモ</th>
          <th></th>
        </tr>
        <tbody>
          <% @pays.each do |pay| %>
            <% if pay.is_active == false && pay.family.name == "夫"%>
              <tr>
                <td><%= pay.date %></td>
                <td><%= pay.category.name %></td>
                <td>
                  <%= attachment_image_tag(pay.family, :image, :fill, 40, 40) %>
                </td>
                <td>-<%= pay.price.to_s(:delimited) %>円</td>
                <td><%= pay.memo %></td>
                <td>
                  <%= link_to reimbursement_path(pay), method: :patch do %>
                    <button type="button" class="btn btn-outline-secondary m-1">精算</button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="main-content">
    <div class="row">
      <h5 class="d-flex align-items-end justify-content-center pl-3">
        <%= attachment_image_tag(@wife, :image, :fill, 50, 50) %>の未精算一覧
      </h5>
      <table class="table">
        <tr>
          <th>日にち</th>
          <th>カテゴリー</th>
          <th>財布</th>
          <th>金額</th>
          <th>メモ</th>
          <th></th>
        </tr>
        <tbody>
          <% @pays.each do |pay| %>
            <% if pay.is_active == false && pay.family.name == "妻"%>
              <tr>
                <td><%= pay.date %></td>
                <td><%= pay.category.name %></td>
                <td>
                  <%= attachment_image_tag(pay.family, :image, :fill, 40, 40) %>
                </td>
                <td>-<%= pay.price.to_s(:delimited) %>円</td>
                <td><%= pay.memo %></td>
                <td>
                  <%= link_to reimbursement_path(pay), method: :patch do %>
                    <button type="button" class="btn btn-outline-secondary m-1">精算</button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>