<div class="container">
<h1>立替精算</h1>

<div>
  夫へ共通財布から
  <%= @pays_husband.to_s(:delimited) %>円
  <%= link_to '精算', update_husband_reimbursements_path, method: :patch %>
</div>

<div>
  妻へ共通財布から
  <%= @pays_wife.to_s(:delimited) %>円
  <%= link_to '精算', update_wife_reimbursements_path, method: :patch %>
</div>

<div class="row">
  <h2>夫</h2>
  <table class="table">
    <tr>
      <th>日にち</th>
      <th>カテゴリー</th>
      <th>財布</th>
      <th>金額</th>
      <th>精算</th>
      <th>メモ</th>
    </tr>
    <tbody>
        <% @pays.each do |pay| %>
        <% if pay.is_active == false && pay.family.name == "夫"%>
            <tr>
                <td><%= pay.date %></td>
                <td><%= pay.category.name %></td>
                <td>
                  <%= attachment_image_tag(pay.family, :image, :fill, 50, 50) %>
                </td>
                <td><%= -pay.price %></td>
                <td>
                  <i class="far fa-square"></i>
                </td>
                <td><%= pay.memo %></td>
                <td>
                    <div class="row">
                        <div class="actions">
                            <%= link_to "精算",reimbursement_path(pay),method: :patch ,class:"form-button" %>
                        </div>
                    </div>
                </td>
            </tr>
          <% end %>

        <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h2>妻</h2>
  <table class="table">
    <tr>
      <th>日にち</th>
      <th>カテゴリー</th>
      <th>財布</th>
      <th>金額</th>
      <th>精算</th>
      <th>メモ</th>
    </tr>
    <tbody>
        <% @pays.each do |pay| %>
        <% if pay.is_active == false && pay.family.name == "妻"%>
            <tr>
                <td><%= pay.date %></td>
                <td><%= pay.category.name %></td>
                <td>
                  <%= attachment_image_tag(pay.family, :image, :fill, 50, 50) %>
                </td>
                <td><%= -pay.price %></td>
                <td>
                  <i class="far fa-square"></i>
                </td>
                <td><%= pay.memo %></td>
                <td>
                    <div class="row">
                        <div class="actions">
                            <%= link_to "精算",reimbursement_path(pay),method: :patch,class:"form-button" %>
                        </div>
                    </div>
                </td>
            </tr>
          <% end %>

        <% end %>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "新規追加" ,new_pay_path %>
</div>

</div>