
<footer class="footer fixed-bottom text-decoration-none container-fluid d-flex align-items-center">
  <% if user_signed_in? %>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <%= link_to profile_path  do %>
            <i class="fas fa-home fa-lg d-flex justify-content-center"></i><div class="d-flex justify-content-center">ホーム</div>
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to pays_path  do %>
            <i class="fas fa-list fa-lg d-flex justify-content-center"></i><div class="d-flex justify-content-center">明細</div>
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to new_pay_path  do %>
            <i class="fas fa-pencil-alt d-flex justify-content-center"></i><div class="d-flex justify-content-center">記録</div>
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to reimbursements_path  do %>
            <i class="fas fa-exchange-alt fa-lg orange fs-15 d-flex justify-content-center"></i><div class="d-flex justify-content-center">精算</div>
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to budgets_path  do %>
            <i class="fas fa-chart-pie fa-lg d-flex justify-content-center"></i><div class="d-flex justify-content-center">分析</div>
          <% end %>
        </div>
      </div>
    </div>
<% else %>
<% end %>
</footer>